<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="topnav">
  <a class="active" href="#home">PR comparison</a>
  <div class="search-container">
     <form action = "http://localhost:5000/" method = "post">
      <input type="text" placeholder="PR 1" name="pr1">
      <input type="text" placeholder="PR 2" name="pr2">
      <input type="radio" id="average" name="algorithm" value="average">
         <label for="average">Average</label>
      <input type="radio" id="wordmover" name="algorithm" value="wordmover">
         <label for="wordmover">Word Mover</label>
      <input type="radio" id="nn" name="algorithm" value="nn">
         <label for="nn">Neural Network Evaluation</label>
      <button type="submit"><i class="fa fa-search"></i></button>
    </form>
  </div>
</div>

<div style="padding-left:16px">
  <h2> Pull request comparison runner </h2>
</div>
</body>
</html>